:root {
    --primary: #34324c;
    --primary-dark: #1e1c2b;
    --primary-light: #656284;
    --secondary: #deb64b;
    --secondary-dark: #af903a;
    --secondary-light: #efd591;
    --text: #333;
    --text-light: #F8F8F8;
    --text-gray: #b4b4b4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
    font-family: 'Poppins', 'Arial';
}

h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 3rem;
    line-height: 2.8rem;
}

h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.6rem;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    width: auto;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
}

.pl-colored {
    color: var(--primary-light);
}

.sl-colored {
    color: var(--secondary-light);
}

.p-colored {
    color: var(--primary);
}

.s-colored {
    color: var(--secondary);
}

.pd-colored {
    color: var(--primary-dark);
}

.sd-colored {
    color: var(--secondary-dark);
}

.hero-section {
    background: radial-gradient(circle at center, #e5e5e5, #ffffff);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section a {
    align-self: start;
    background-color: var(--primary-dark);
    color: var(--text-light) !important;
}

.hero-section a:hover {
    background-color: var(--primary-light);
}

.image-h1 {
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.article-introduction a {
    background-color: var(--primary-dark);
    color: var(--text-light) !important;
}

.article-introduction a:hover {
    background-color: var(--primary-light);
}

.info-box {
    transition: 0.5s;
}

.info-box:hover {
    box-shadow: 0px 0px 10px 2px #efd49186 !important;
    transform: translateY(-5px);
}

@media (min-width: 1024px) {
    .hero-section {
        background-image: url("../imgs/Evidencia 2 - Hero Section.png");
    }
}

/* Responsive Tableta */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Responsive Teléfono */
@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
        line-height: 1.8rem;
    }

    h2 {
        font-size: 1.5rem !important;
        line-height: 1.6rem;
    }

    h3 {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .hero-section img {
        margin: auto;
        margin-top: 2em;
        width: 40%;
    }

    .image-h1 {
        width: 80px;
        height: 80px;
    }
}